<%= content_for(:title,  '行情监管 | Exchange') %>
<section class="content-header">
  <h1>
    行情监管
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-balance-scale"></i> 行情监管</a></li>
    <li class="active"><i class="glyphicon glyphicon-plus"></i> 添加</li>
  </ol>
</section>
<section class="content">
  <div style="padding-top: 10px">
    <div class="box box-success">
      <div class="box-header">
        <h3 class="box-title">新增表单</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</section>
