<%= form_for(['backend',@indicator]) do |f| %>
<div class="box-body">
  <div>
    <div class="form-group has-error">
      <label>市场</label>
      <div class="input-group col-md-4">
        <%= f.select(:market_id, Market.seq.map{ |x| [x.full_name,x.id] }, {prompt:'请选择市场'}, {:class => 'form-control'}) %>
      </div>
    </div>
    <div class="form-group has-success">
      <label>指标数据</label>
      <div class="input-group col-md-4">
        <%= f.text_field :name, class:'form-control', placeholder:'（必填* MACD=12345）' %>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <hr>
    <div>
      <button type="submit" class="btn bg-maroon btn-flat" style="width: 120px">提交</button>
      <a href="<%= request.referrer %>" class="btn bg-navy btn-flat" style="width: 120px">取消</a>
    </div>
  </div>
</div>
<% end %>