/*
 *=require ./css/bootstrap
 *=require ./css/font-awesome
 *=require ./css/ionicons
 *=require ./css/googleapis
 *=require ./css/AdminLTE
 *=require ./css/skins
 *=require ./css/blue
 *=require ./css/morris
 *=require ./css/datepicker
 *=require ./css/daterangepicker
 *=require ./css/bootstrap3-wysihtml5.min
 *=require ./css/bootstrap-switch
 *=require ./css/paginate
 */

 .chart-container {
  background: #f2f2f2;
 }