<footer id="footer">
  <div class="footer-line">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          Copyright &copy; <a href="https://www.koogle.cc">Koogle.Zhang</a>
        </div>
      </div>
    </div>
  </div>
</footer>