<%= content_for(:title,  params[:symbol] + '市场趋势') %>
<section class="content">
  <div class="box box-primary">
    <div style="height:90vh;" id="tv_chart_container">
  </div>
</section>
<%= content_for :script_footer do %>
  <%= javascript_include_tag 'trading_view', 'data-turbolinks-track' => true %>
<script type="text/javascript">
  TradingView.onready(function() {
    var url = '/trending';
    var widget = window.tvWidget = new TradingView.widget({
      datafeed: new window.Datafeeds.UDFCompatibleDatafeed(url,60000),
      symbol: "<%= params[:symbol] %>",
      interval: '5',
      theme: 'Grey',
      timeframe: '1D',
      container_id: 'tv_chart_container',
      library_path: '/trading_library/',
      locale: 'zh',
      timezone: 'Asia/Shanghai',
      enabled_features: [
      'study_templates'
      ],
      disabled_features: [
        'header_saveload',
        'header_settings',
        'header_indicators',
        'header_chart_type',
        'header_resolutions',
        'header_undo_redo',
        // 'header_symbol_search',
        'use_localstorage_for_settings',
        'left_toolbar',
        'volume_force_overlay',
        'header_screenshot',
        'header_fullscreen_button',
        // 'create_volume_indicator_by_default',
        'header_compare'
      ],
      charts_storage_url: 'https://saveload.tradingview.com',
      charts_storage_api_version: '1.1',
      client_id: 'tradingview.com',
      user_id: 'public_user_id',
      fullscreen: false,
      autosize: true,
      toolbar_bg: '#2F3D45',
      overrides: {
        "mainSeriesProperties.style": 8,
        "paneProperties.background": "rgb(35,46,54)", //设置背景颜色
        "paneProperties.vertGridProperties.color": "rgb(35,46,54)", //设置背景横格颜色
        "paneProperties.horzGridProperties.color": "rgb(35,46,54)", //设置背景竖格颜色
        // "scalesProperties.textColor": "rgb(114, 145, 161)", //设置字体颜色
        "scalesProperties.textColor": "#ffffff", //设置字体颜色
        "scalesProperties.fontSize": 13, //设置价格样式大小
        "mainSeriesProperties.haStyle.upColor": "#34D5A7", // 设置蜡烛线上扬颜色
        "mainSeriesProperties.haStyle.downColor": "#E2517E", //设置蜡烛线下俯颜色
        "paneProperties.bottomMargin": 5, //设置面板数据的底部间距
        "paneProperties.legendProperties.showStudyArguments": true, //是否显示指标的相关参数
        'paneProperties.legendProperties.showLegend': true,  //是否显示指标名称
        "volumePaneSize": "medium", //成交量规格 支持的值: large, medium, small, tiny
        "scalesProperties.scaleSeriesOnly": true
      },
      studies_overrides: {
        "volume.volume.color.0": "#E2517E", //设置成交量下跌色
        "volume.volume.color.1": "#34D5A7", //设置成交量上涨色
        "volume.volume.linewidth": 3, // 设置成交量线宽
        "volume.volume.transparency": 100,
        "bollinger bands.median.color": "#33FF88",
        "bollinger bands.upper.linewidth": 7,
        "macd.histogram.color": '#ffffff',
        "macd.macd.color": '#34D5A7',
        "macd.signal.color": '#E2517E',
        "macd.histogram.linewidth": 3, //设置 MACD 的线宽度
        "macd.macd.linewidth": 3,
        "macd.signal.linewidth": 3,
        "macd.precision": 2
      },
    });

    widget.onChartReady(() => {
      //添加K线时间分辨
      widget.createButton().on('click', function(e){ widget.chart().setResolution('5')}).append('M5');
      widget.createButton().on('click', function(e){ widget.chart().setResolution('15')}).append('M15');
      widget.createButton().on('click', function(e){ widget.chart().setResolution('30')}).append('M30');
      widget.createButton().on('click', function(e){ widget.chart().setResolution('60')}).append('H1');
      widget.createButton().on('click', function(e){ widget.chart().setResolution('360')}).append('H6');
      widget.createButton().on('click', function(e){ widget.chart().setResolution('720')}).append('H12');
      widget.createButton().on('click', function(e){ widget.chart().setResolution('1440')}).append('D1');
      widget.createButton().on('click', function(e){ widget.chart().executeActionById('insertIndicator')}).append('<span>技术指标</span>');
      widget.createButton().on('click', function(e){ widget.chart().executeActionById('chartProperties')}).append('<span>设置</span>');
      // widget.chart().createStudy("Moving Average",true,false,[7,'close'],null,{ "plot.color": '#07A0C3', 'plot.linewidth': 2 }); //添加 MA7 指标
      // widget.chart().createStudy("Moving Average",true,false,[25,'close'],null,{ "plot.color": '#FFBA14', 'plot.linewidth': 2 }); //添加 MA 25 指标
      // widget.chart().createStudy("Relative Strength Index",false,false,[14],null,{ "plot.color": '#07A0C3', 'plot.linewidth': 3 }); //添加 RSI 指标
      // widget.chart().createStudy("MACD",false,false,null,null,{"precision":2,'histogram.linewidth':2,'macd.linewidth':2,'signal.linewidth':2}); //添加 MACD 指标
    });
  });
</script>
<% end %>