settings.host = 'http://tt.tt'
settings.receive_email = '*****@qq.com'
settings.email_account = '*****@qq.com'
settings.email_password = '*****'
settings.email_stmp_address = 'smtp.xx.com'
settings.email_stmp_port = '587'
settings.sms_username = '*****'  #如需接入短信，请到云片申请
settings.sms_password = '*****'
settings.yunpian_key = 'xxxxxx'
settings.bittrex_key = 'xxxxxxxxxxxxxx' # 需要去 Bittrex 申请 API
settings.bittrex_secret = 'xxxxxxxxxxxxxx'
settings.binance_key = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxx' # 需要去 Binance 申请 API
settings.binance_secret = 'xxxxxxxxxxxxxxxxxxxxxxxxxx'