#[development,production]

settings.env = 'development'
settings.host = 'http://tt.tt'
settings.receive_email = '*****@qq.com'
settings.email_account = '*****@qq.com'
settings.email_password = '*****'
settings.email_stmp_address = 'smtp.xx.com'
settings.email_stmp_port = '587'

settings.pop_host = 'pop.gmail.com'
settings.pop_username = 'xxxxxxxx@gmail.com'
settings.pop_password = 'xxxxxxxxx'
#消息通知
settings.default_mobile = '13812345678'
#http://pushbear.ftqq.com
settings.wechat_group_key = 'xxxxxxxx'
#https://open-doc.dingtalk.com/docs/doc.htm?treeId=257&articleId=105735&docType=1
settings.dingding_bot = 'xxxxxxxx'
settings.trading_bot = 'xxxxxxx'
settings.yunpian_key = 'xxxxxxxx'
settings.yunpian_tpl = '123456'
#交易所接口

settings.binance_key = "xxxxxx"
settings.binance_secret = "xxxxxxx"

settings.future_key = "xxxxxx"
settings.future_secret = "xxxxxx"

settings.daemon_cn = {'takeprofit': '止盈保收', 'stoploss': '止损保本', 'chasedown': '逐仓加码', 'fastrade': '瞬息波动', 'fluctuation': '每日涨跌'}

#按需开启每日行情类别通知
settings.fluctuation_future  = true
settings.fluctuation_binance = false