@font-face {
 font-family: 'YueYuan';
 /*src: asset_url('lte/fonts/zzgf/yueyuan.ttf') format('truetype');*/
 src: url('https://ogs7lfzqz.qnssl.com/uCBohHbG70EJOqVgnmWl.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

body {
 font-family: sans-serif;
 line-height: 20px;
 color: #999999;
 font-size: 300;
 font-size: 16px;
}

body {
  background-color: #f5f8fa!important;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
h1, h2, h3, h4, h5, h6
{
 font-weight: 600;
 color: #222222;
}
a, a:hover, a:focus, a:active{
  outline: none;
}

.section-padding{
 padding: 60px 0px;

}
h2 {
  line-height: 20px;
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}
hr.botm-line {
  height: 3px;
  width: 60px;
  background: #ffb737;
  position: relative;
  border: 0;
  margin: 20px 0 20px 0;
}

/***************************************
banner
***************************************/
.navbar {
  margin-bottom: 0px;
  border: 0px;
}
.navbar {
  border-radius: 0px;
}
.navbar-default {
  background-color: #fff;
  padding: 0px 0;
  transition: all 0.3s;
}
.navbar-default {
  background-color: transparent;
  border: 0px;
  /*background: rgba(28,74,90,0.9);*/
  background: rgba(0,0,0,0.8);
}
.navbar {
  border-radius: 0px;
}

.navbar-brand
{
  font-size: 32px;
}

.img-responsive {
  height: 50px !important;
  margin-top: -15px;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #EA6045;
}

.top-nav-collapse {
  padding: 0;
  background: rgba(28,74,90, 0.9);
}

.white, .white:hover, .white:focus
{
  color: #fff;
  width: 100% !important;
}
.block
{
  display: block;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(12, 184, 182, 0.21);
}
.navbar-default .navbar-nav > li > a
{
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(12, 184, 182, 0.21);
}

i.icon_pull {
  display: none;
}
.pc_menu{
  display: block;
}
.mobile_menu {
  display: none;
}
/* hove 控制不同层级元素*/
.more_menu:hover > div.menus{
  margin-left: 0px;
  margin-right: -200px;
  display: block;
}

.user_menu:hover > div.menus {
  display: block;
}

.more_menu > a > span {
  float: right;
  position: relative;
}

.more_menu:hover > a > span > i.icon_pull{
  display: block;
}
.more_menu:hover > a > span > i.icon_push{
  display: none;
}

.navbar-default .navbar-nav .menus{
  display: none;
  background: rgba(28, 74, 90, 0.9);
  position: absolute;
  text-align: center;
}

.navbar-default .navbar-nav .menus ul li {
  margin-left: -40px;
}

.navbar-default .navbar-nav .menus ul > li > a{
  color:#fff;
  text-decoration:none;
  line-height: 40px;
  padding:11px 30px;
}
.navbar-default .navbar-nav .menus ul > li:hover{
  background-color: rgba(12, 184, 182, 0.21);
}

.affix {
  background-color: #ffffff !important;
}
.affix .navbar-nav > li > a:hover, .affix .navbar-nav > li > a:focus
{
  background-color: rgba(12, 184, 182,1) !important;
}

.bg-color{
  background-color: rgba(13, 70, 83, 0);
  height: 50px;
}

.column_mask{
  background-color: rgba(13, 70, 83, 0.55);
  min-height: 525px;
  background-size: cover;
}

.preface {
  background-size: cover;
  min-height: 525px;
  position: relative;
  margin-top: -60px;
}

.banner-info{
  padding-top: 150px;
}
.banner-logo img{
  display: inline-block;
}
.banner-text{
  color: #fff;
}
.banner-text h1{
  font-size: 35px;
  text-transform: uppercase;
  padding-bottom:15px;
}
.banner-text p{
  font-size: 18px;
  max-width: 650px;
  margin:0px auto;
}

.banner-text a{
  font-size: 16px;
}
.banner-text a:hover{
  font-size: 16px;
}
.btn-appoint, .btn-appoint:hover, .btn-appoint:focus{
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 12px;
  background-color: rgba(12, 184, 182, 0.91);
  border-radius: 3px;
  color: #fff;
}
.overlay-detail a i {
  text-align: center;
  position: absolute;
  bottom: 25px;
  font-size: 38px;
  color: #fff;
  margin: 0 auto;
}
.text-primary i{
  padding-top: 8px;
  display: inline-block;
}

.herd_user_info{
  height: 50px;
  text-transform: none !important;
  img{
    height: 40px;
    margin-top: -10px;
    border-radius: 50%;
  }
  span{
    padding-left: 10px;
  }
}

.search {
  transition: width 1s;
  line-height: 46px;
  font-size: 25px;
  padding-left: 30px;
  border:0;
  width: 250px;
  color:white;
  outline:none;
  background: transparent;
  z-index: 100;
}

.serach_form:hover > .search{
  transition: width 1s;
  width: 500px;
  border-bottom:#ffffff 2px solid;
}

.searc_sub {
  line-height: 45px;
  background: transparent;
  border:0;
  color: white;
  font-size: 25px;
  position: absolute;
  float: right;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ffffff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ffffff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ffffff;
}

/**************   首页展示  **************/
#torrents {
  margin: 0 auto;
  .bit-item {
    padding-right: 0px;
    padding-left: 0px;
  }
  .bit-info {
    background-color: rgba(0,0,0,0.4);
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    padding-left: 10px;
    position: absolute;
    top: 240px;
    z-index: 2;
    a{
      color: #ffffff;
      text-decoration:none;
      text-overflow: ellipsis;
    }
    .code {
      font-size: 27px;
    }
  }
  .cover {
    height: 350px;
    overflow: hidden;
  }
  .cover:hover {
    img{
      transform: scale(1.1,1.1);
      transition: 1s;
    }
  }
}

/***************下载页面用户头图************/
#user-profile {
  .user-avatar{
    left: 15%;
    top:270px;
    position: absolute;
    background-color: #ffffff;
    padding: 5px;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    z-index: 2;
    img {
      width: 190px;
      border-radius: 5px;
    }
  }
  .user-avatar:hover + .user-banner{
    img{
      transform: scale(1.05,1.05);
    }
  }
  .user-banner{
    height: 360px;
    overflow:hidden;
    img {
      width: 100%;
      min-height: 360px;
      min-width: 1200px;
    }
  }
}

#file-download {
  margin-top: 70px;
  margin-bottom: 40px;
  .user-info {
    font-size: 16px;
    color: #ffffff;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
    margin-bottom: 15px;

    .info {
      padding-top: 10px;
      padding-bottom: 2px;
      a {
        text-decoration:none;
      }
      i {
        font-size: 20px;
        padding-right: 14px
      }
      hr {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      p {
        padding-left: 80px;
        padding-bottom: 10px;
      }
    }
  }
  .file-info {
    margin-top: -50px;
    border-radius: 5px;
    border: 1px solid #e1e8ed;
    background-color: #fff;
    .title {
      color: #0084B4;
      font-size: 18px;
      font-weight: 300;
      line-height: 1;
      padding: 15px 15px 12px;
    }
    p {
      color: #000;
      padding-left: 20px;
    }
    img {
      width: 100%;
      padding-right: 20px;
    }
    .btn-down {
      margin-top: -10px;
      text-align: right;
      padding-right: 20px;
      margin-bottom: 10px;
    }
    a {
      font-size: 16px;
    }
  }
}

/**** 动态进度条 ****/

.progress-bar {
  -webkit-animation: progress-bar-stripes .5s linear infinite;
  -o-animation: progress-bar-stripes .5s linear infinite;
  animation: progress-bar-stripes .5s linear infinite;
}

#load_more {
  width: 360px;
}

#load_bar {
  display: none;
}

/***************************************
footer
***************************************/
#footer{
  /*background-color: #325C6A;*/
  background: rgba(0,0,0,0.8);
}
.ftr-tle {
  height: 50px;
}
.info-sec {
  color: #fff;
}
.quick-info li i {
  font-size: 8px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: left;
}
.social-icon li {
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-right: 5px;
}
.bglight-blue {
  background-color: #3498DB;
}
.bgred {
  background-color: #E74C3C;
}
.bgdark-blue {
  background-color: #2C3E50;
}
.bglight-blue {
  background-color: #3498DB;
}
.top-footer {
  padding: 40px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.footer-line {
  padding: 30px 0px;
  color: #fff;
}

.footer-line a {
  color: #0CB8B6;
}

.quick-info li a{
  color: #fff;
}
.site-link, .site-link:hover, .site-link:focus
{
  color: #0cb8b6;
  text-transform: none;
}

@media (min-width: 551px) and (max-width: 980px){
}

@media (min-width: 220px) and (max-width: 551px){
  .testi-info{
    margin-bottom: 20px;
  }
  .marb20{
    margin-top: 30px;
  }
  h2{
    font-size: 24px;
    line-height: 1.2;
  }
  .section-title{
    margin-bottom: 30px;
  }
  .medi-info {
    border: 0px;
    border-bottom: 1px solid #fff;
  }
  .service-info{
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .caption h3 {
    font-size: 14px;
  }
  .caption p{
    font-size: 12px;
    padding-bottom: 5px;
  }
  .caption ul li a i{
    font-size: 14px;
  }
  .banner-text h1{
    font-size: 24px;
  }

  #load_more {
    width: 100%;
  }
}

@media (max-width: 767px){
  .pc_menu {
    display: none;
  }
  .mobile_menu {
    display: block;
  }
}
