<p>尊敬的 <%= @resource.email %>!</p>

<p>您可以通过下面的链接重置您的密码</p>

<p><%= link_to '重置密码', reset_password_url(reset_password_token: @token) %></p>

<p> 如果您没有操作过相关请求，请您检查自己的账户是否泄漏</p>
<p>如果您修改密码失败，可以重新请求一次<%= link_to '重新获取', forgot_password_url %></p>
